form {
  width: 100%;
  max-width: 50rem;
}

h2 {
  font-size: 4rem;

  @media screen and (max-width: 650px) {
    font-size: 2.8rem;
  }
}

input {
  display: block;
  width: 100%;
  margin-top: 3rem;
  padding: 1.5rem;
  border: none;
  color: #F8F8F8;
  background: #333;
  border-radius: 0.4rem;

  &:focus {
    outline: none;
  }
}

button {
  margin-top: 3rem;
  padding: 0.8rem 1.5rem;
  border: none;
  background: #E50914;
  color: #F8F8F8;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background: #bb0c15;
  }
}

.error {
  display: block;
  margin-top: 0.5rem;
  color: #E50914;
  font-size: 1.4rem;
}